#
# for Linux
#
ggsample01
a.out
core
*.o
*.dep
#
# for Mac
#
/build/
/DerivedData/
xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.moved-aside
*.xcuserstate
*.xccheckout
.DS_Store
#
# for Windows
#
.vs/
.vscode/
/x64/
/[Dd]ebug/
/[Rr]elease/
/ipch/
/packages/
*.com
*.exe
*.ncb
*.suo
*.user
*.sdf
*.opensdf
*.opendb
*.userosscache
*.sln.docstates
*.opendb
*.db
*.aps
#
# anothre stuff
#
*~
*.bak
*.tmp
*.swp
imgui.ini
/pdf/*
!/pdf/refman.pdf
